{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "targets": {
                    "node": "current"
                },
                "useBuiltIns": false
            }
        ],
        "minify"
    ]
}
